.auth {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  /* padding-bottom: 30px; */
}

.field {
  padding: 5px 10px;
  width: 300px;
  font-family: 'Montserrat';
  font-weight: 200;
}

.toggler_btn {
  color: black;
  background-color: white;
}

.error {
  color: red;
  min-height: 25px;
  margin-bottom: 20px;
  display: block;
}