.features {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.features_item {
  max-width: 300px;
}

.features_item:hover {
  color: rgb(141, 139, 139);
}

.img_ {
  width: 100vw;
  max-width: 100%;
}

.img_banner, .img_banner1, .img_banner2 {
  object-fit:cover;
  width: 100vw;
  max-width: 100%;
}

.banner_link {
  background-color: black;
}

.background {
  background-color: black;
}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
  .img_banner1 {
    height: 225px;
    object-position: 10% 0%;
  }

  .img_banner2 {
    height: 500px;
  }
}

@media only screen and (max-width: 480px) {
  .img_banner1 {
    height: 160px;
    object-position: 5% 0%;
  }

  .img_banner2 {
    height: 300px;
  }
  }