.features {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.features_item {
  max-width: 300px;
}

.features_item:hover {
  color: rgb(141, 139, 139);
}


.img_banner {
  object-fit:cover;
  object-position: -80;
  width: 100vw;
  max-width: 100%;
}

.banner_link {
  background-color: black;
}