header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid;
  border-bottom-color: #e8e8e1;
  background-color: white;
  width: 100vw;
  position: fixed;
  padding-bottom: 10px;
  z-index: 1;
}

nav {
  /* width: 100%; */
  /* max-width: 1300px; */
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 8px 20px;
}

.brand_nav {
  justify-content: space-between;
}

.header_item_rigth {
  width: 295px;
  text-align: left;
}

.header_item_left {
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.brand_title {
  justify-self: center;
  min-width: 129px;
}

.hide {
  display: inherit;
}

@media only screen and (min-device-width : 480px) and (max-device-width : 1180px) {
  .header_item_rigth {
    max-width: 150px;
  }

  .header_item_left {
    width: 150px;
  }
}

@media screen and (max-width: 580px) {
  nav{
    gap:5vw;
  }
  
  header {
    justify-content: space-between;
  }

  .nav_hide {
    display: none;
  }

  .header_item_rigth {
    width: auto;
  }

  .header_item_left {
    width: auto;
    gap: 15px;
  }
}

@media screen and (min-width: 580px) {
  .nav_show {
    display: none;
    visibility: hidden;
  }
}