.order_product {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 500px;
  padding-bottom: 10px;
}

.order_container {
  margin-bottom: 35px;
}

.orders_number {
  display: flex;
  justify-content: space-between;
}

.img {
  width: 60px;
}