.user {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;
  gap: 100px;
}

.user_nav {
  margin-top: 50px;
  background-color: #e6e6e6;
  padding: 20px 40px 20px 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  max-width: 150px;
}

.user_right {
  min-width: 500px;
}