.cartItem {
  display: flex;
  gap: 50px;
  text-align: left;
}

.cartItem_img {
  width: 180px;
}

.cartItem_quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quantity_btn {
  padding: 10px;
  background-color: white;
  color: black;
  border: rgb(96, 96, 96);
}