.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

p {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: black;
}

.main-content {
  padding-top: 130px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 40px;
}